
<mat-dialog-content>
  <h3>{{pet?.name}}</h3>
  <div class="mb-3">Pet Category: {{pet?.category?.name}}</div>
  <div class="mb-3">
    <span>
      Tags: 
    </span>
    <mat-chip-list class="d-inline-block ml-2">
      <mat-chip *ngFor="let tag of pet.tags">{{tag?.name}}</mat-chip>
    </mat-chip-list>
  </div>
  <div>Pet Status: {{pet?.status}}</div>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button class="m-auto" color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>