<app-auth-layout [header]="'Login'">
  <form (submit)="submitLoginFormHandler()">
    <mat-form-field
      class="w-100"
      appearance="outline"
    >
      <mat-label>Username</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="account.username"
        name="username"
      >
    </mat-form-field>
    <mat-form-field
      class="w-100"
      appearance="outline"
    >
      <mat-label>Password</mat-label>
      <input
        matInput
        type="password"
        [(ngModel)]="account.password"
        name="password"
      >
    </mat-form-field>
    <button
      color="primary"
      class="w-100"
      mat-raised-button
      type="submit"
    >
      Confirm
    </button>
  </form>
</app-auth-layout>