<button mat-raised-button class="mb-3" (click)="clickLogoutButtonHandler()">Logout</button>
<div>
  <app-pet-card *ngFor="let pet of pets" [pet]="pet" (click)="clickPetHandler(pet)"></app-pet-card>
</div>
<app-create-fab></app-create-fab>