<mat-card>
  <form (submit)="submitFormHandler()">
    <mat-form-field
      class="w-100"
      appearance="outline"
    >
      <mat-label>Category</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="pet.category.name"
        name="category"
      >
    </mat-form-field>
    <mat-form-field
      class="w-100"
      appearance="outline"
    >
      <mat-label>Name</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="pet.name"
        name="name"
      >
    </mat-form-field>
    <mat-form-field
      class="w-100"
      appearance="outline"
    >
      <mat-label>Tags</mat-label>
      <mat-chip-list
        #chipList
        aria-label="Fruit selection"
      >
        <mat-chip
          *ngFor="let tag of tags; let i = index"
          [selectable]="selectable"
          [removable]="true"
          (removed)="remove(i)"
        >
          {{tag}}
          <mat-icon matChipRemove>cancel</mat-icon>
        </mat-chip>
        <input
          placeholder="Tag"
          [formControl]="tagCtrl"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="addTag($event)"
        >
      </mat-chip-list>
    </mat-form-field>
    <div>
      <app-image-uploader (changeFormData)="changeUploadImagesHandler($event)"></app-image-uploader>
    </div>
    <button
      class="mt-4 w-100"
      mat-raised-button
      type="submit"
      color="primary"
    >
      Create Pet
    </button>
  </form>
  <button
    class="mt-4 w-100"
    mat-button
    routerLink="/"
  >
    Back
  </button>
</mat-card>