<app-auth-layout [header]="'Register'">
  <ng-container *ngIf="!registerSuccess; else success">
    <form (submit)="submitRegistrationFormHandler()">
      <mat-form-field
        class="w-100"
        appearance="outline"
      >
        <mat-label>Username</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="newUserAccount.username"
          name="username"
        >
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline"
      >
        <mat-label>FirstName</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="newUserAccount.firstName"
          name="firstName"
        >
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline"
      >
        <mat-label>lastName</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="newUserAccount.lastName"
          name="lastName"
        >
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="newUserAccount.email"
          name="email"
        >
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          type="password"
          [(ngModel)]="newUserAccount.password"
          name="password"
        >
      </mat-form-field>
      <mat-form-field
        class="w-100"
        appearance="outline"
      >
        <mat-label>Phone</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="newUserAccount.phone"
          name="phone"
        >
      </mat-form-field>
      <button
        color="primary"
        class="w-100"
        mat-raised-button
        type="submit"
      >Confirm</button>
      <button
        class="w-100 mt-3"
        mat-button
        type="button"
        routerLink="/login"
      >Back to login</button>
    </form>
  </ng-container>
  <ng-template #success>
    <div class="text-center">
      <h3>Success</h3>
      <button
        mat-raised-button
        color="primary"
        class="w-100"
        routerLink="/login"
      >Login now</button>
    </div>
  </ng-template>
</app-auth-layout>