.auth-layout__container {
  padding-top: 150px;
  max-width: 400px;
  margin: 0 auto;

  .auth-layout__card {
    box-shadow: rgb(0 0 0 / 25%) 0px 4px 14px;
    border-radius: 20px;
    width: 100%;
    padding: 20px 30px;
  }
}

